<md-card>
    <md-card-title>{{post.title}}</md-card-title>
    <md-card-subtitle *ngIf="post.author">written by <a href="{{post.author.site}}">{{post.author.name}}</a></md-card-subtitle>
    <md-card-subtitle *ngIf="post.publishedDate">{{post.publishedDate}}</md-card-subtitle>
    <md-card-content [innerHTML]="post.body">
    </md-card-content>
    <!--<md-card-actions>-->
        <!--<button md-button>LIKE</button>-->
        <!--<button md-button>SHARE</button>-->
    <!--</md-card-actions>-->
</md-card>
